body {
  margin: 0;
  padding: 0;

  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.header {
  display: flex;
  flex-direction: column;
  background-color: #f3f7f8;
  margin-bottom: 60px;
}

.container {
  display: flex;
  width: 940px;
  padding: 0 10px;
  margin: 0 auto;
}

.container--part {
  flex-direction: column;
}

.container--promo {
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  margin-bottom: 53px;
}

.container--products {
  flex-direction: column;
  flex-wrap: wrap;
  width: 700px;
}

.container--services,
.container--catalog {
  flex-direction: row;
  padding: 0;
  margin-bottom: 98px;
}

.container--about-map {
  justify-content: space-between;
  margin-bottom: 86px;
}

.container--footer {
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.container--footer-inner {
  padding: 0px;
  margin-bottom: 50px;
}

.header-top-block {
  margin-bottom: 45px;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;

  background-color: #293449;
}

.header-logo__link {
  width: 110px;
  display: block;
  padding-left: 55px;
  padding-right: 55px;
  padding-top: 12px;
  padding-bottom: 10px;
  background-color: #ee3643;
  box-shadow: 0px 5px 0px #b52933;
}

.header-logo__link:hover,
.header-logo__link:focus {
  background-color: #ca2c37;
  box-shadow: 0px 5px 0px #9a212a;
}

.header-logo__link:active {
  background-color: #ba2732;
  box-shadow: 0px 5px 0px #8e1e26;
}

.search-form {
  display: block;
  padding-left: 48px;
  margin-right: auto;
  color: #ffffff;
}

.search-form__form {
  display: block;
  margin: 0px;
  padding: 0px;
}

.search-form input {
  margin: 0px;
  padding: 0px;
  background-color: transparent;
  border: none;
}

.wishlist__link {
  position: relative;
  display: block;
  padding-left: 44px;
  padding-right: 28px;
  padding-top: 13px;
  padding-bottom: 13px;
  color: #ffffff;
}

.cart__link {
  position: relative;
  display: block;
  padding-left: 50px;
  padding-right: 31px;
  padding-top: 13px;
  padding-bottom: 13px;
  color: #ffffff;
}

.wishlist__link:hover,
.cart__link:hover,
.wishlist__link:focus,
.cart__link:focus {
  background-color: #212a3a;
}

.wishlist__link:active,
.cart__link:active {
  background-color: #161d29;
}

.wishlist__link::before {
  content: "";

  position: absolute;
  left: 17px;
  top: 12px;

  width: 14px;
  height: 16px;

  background-image: url("../img/icon-wishlist.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.3;
}

.cart__link::before {
  content: "";

  position: absolute;
  left: 17px;
  top: 12px;

  width: 14px;
  height: 16px;

  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.wishlist__link:hover::before,
.wishlist__link:focus::before,
.cart__link:hover::before,
.cart__link:focus::before {
  opacity: 1;
}
.wishlist__link:active::before,
.cart__link:active::before {
  opacity: 0.5;
}

.checkout__link {
  display: block;
  padding-left: 21px;
  padding-right: 21px;
  padding-top: 13px;
  padding-bottom: 13px;
  color: #ffffff;
  background-color: #63a63e;
}

.wishlist__link:active,
.cart__link:active,
.checkout__link:active {
  opacity: 0.5;
}

.checkout a:hover {
  background-color: #5fbb2d;
}

.checkout a:active {
  background-color: #518534;
}

.main-title {
  width: 200px;
  margin-left: 50px;
  font-size: 14px;
  line-height: 23px;
  font-style: italic;
  color: #ee3643;
}

.header-contacts {
  width: 270px;
  margin-left: 70px;
}

.user-navigation {
  width: 280px;
  margin-left: 70px;
}

.telephone__text {
  font-size: 21px;
  color: #ee4a56;

  border: 3px solid #ffffff;
}

.address__text {
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.user-navigation__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.user-navigation__item a:hover,
.user-navigation__item a:focus {
  color: #ee3643;
}

.user-navigation__item a:active {
  color: #000000;
  opacity: 0.3;
}

.user-navigation__link {
  display: block;
  padding: 12px 25px;
  background-color: #ffffff;
  font-size: 21px;
  color: #000000;
  width:
}

.user-navigation__link--signin {
  padding-left: 48px;
}

.user-navigation__link--signin::before {
  content: "";

  position: absolute;
  left: 14px;
  top: 14px;

  width: 16px;
  height: 17px;

  background-image: url("../img/icon-login.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.user-navigation__link--inside-the-profile a:hover,
.user-navigation__link--inside-the-profile a:focus {
  color: #000000;
}

.user-navigation__item--inside-the-profile a {
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
}

.header-site-navigation {
  margin-bottom: 60px;
  background-color: #32425c;
  border-bottom: 5px solid #293449;
}

.header-site-navigation__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 940px;

  /*margin-bottom: 60px;*/
}

.header-site-navigation__link {
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;

  display: block;
  padding: 22px 30px;
}

.header-site-navigation__item a:hover,
.header-site-navigation__item a:focus,
.header-site-navigation__item a:active {
  background-color: #293449;
}

.header-site-navigation__link:active {
  opacity: 0.5;
}

.main-container {
  display: flex;
  flex-direction: column;
}

.wrap-1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 20px;
  order: -1;
}

.wrap-2 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  order: 1;
}

.promo__card {
  position: relative;
  width: 300px;
  height: 123px;
}

.promo__card h3 {
  margin-left: 24px;
  margin-top: 24px;
}

.promo__card--materials {
  background-color: #ffbf47;
  margin-right: 20px;
}

.promo__card--materials::after {
  content: "";
  
  position: absolute;
  left: 213px;
  top: 30px;
  
  width: 78px;
  height: 72px;
  
  background-image: url("../img/icon-materials.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.promo__card--equipment {
  background-color: #3bbce3;
  margin-right: 20px;
}

.promo__card--equipment::after {
  content: "";
  
  position: absolute;
  left: 197px;
  top: 33px;
  
  width: 78px;
  height: 72px;
  
  background-image: url("../img/icon-equipment.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.promo__card--tools {
  background-color: #dc91d8;
}

.promo__card--tools::after {
  content: "";
  
  position: absolute;
  left: 190px;
  top: 30px;
  
  width: 78px;
  height: 72px;
  
  background-image: url("../img/icon-tools.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.promo__card--special {
  background-color: #8ed78f;
  margin-left: 20px;
  margin-bottom: 20px;
}

.promo__card--special::after {
  content: "";
  
  position: absolute;
  left: 195px;
  top: 25px;
  
  width: 78px;
  height: 72px;
  
  background-image: url("../img/icon-special.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.promo__card--shipping {
  background-color: #ffc047;
  margin-left: 20px;
}

.promo__card--shipping::after {
  content: "";
  
  position: absolute;
  left: 195px;
  top: 25px;
  
  width: 78px;
  height: 72px;
  
  background-image: url("../img/icon-shipping.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}


.promo__title {
  margin-bottom: 0px;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  color: #ffffff;
}

.promo__slider {
  display: flex;
  margin: 0px;
  padding: 0px;
}

.promo__slider-list {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.promo__slider-item {
  margin: 0px;
  padding: 0px;
  width: 620px;
  height: 266px;
  background-image: url("../img/promo-slider-img1.jpg");
  background-repeat: no-repeat;
}

.promo__slider-item:last-child {
  display: none;
}

.promo__slider-title {
  padding: 0px;
  margin-right: 0px;
  margin-top: 25px;
  margin-left: 25px;
  margin-bottom: 4px;
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffffff;
}

.promo__slider-slogan {
  padding: 0px;
  margin: 0px;
  margin-left: 25px;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.popular {
  display: flex;
  padding-left: 30px;
  padding-right: 25px;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 20px;
  align-items: center;
  justify-content: space-between;
  background-color: #f9f5f0;
}

.popular__title {
  margin: 0px;
  padding: 0px;
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: #32425c;
}

.popular-manufacturers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 65px;
}

.popular-manufacturers__link {
  display: flex;
  padding: 0px;
  margin-bottom: 20px;
}

.popular--product-group-name {
  background-color: #f2f6f8;
}

.breadcrumbs {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
}

.breadcrumbs__list {
  display: flex;
  list-style: none;
}

.breadcrumbs__link:first-child {
  margin-left: 0px;
}

.breadcrumbs__link:nth-child(2) {
  margin-left: 41px;
}

.breadcrumbs__link:nth-child(3) {
  margin-left: 39px;
}

.breadcrumbs__link:last-child {
  margin-left: 43px;
}


.search-form__fields,
.filters__price,
.filters__manufacturer,
.filters__power {
  border: none;
}

.filters__price-legend,
.filters__manufacturer-legend,
.filters__power-legend {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
}

.filters__price label,
.filters__manufacturer label,
.filters__power label {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
}

.products__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.products__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 218px;
  border: 1px solid #eaeaea;
}


.products__item h4 {
  margin: 0px auto;
  padding: 0px;
}

.products__name,
.products__model {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  margin: 0px auto;
  padding: 0px;
}

.products__price {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  text-align: center;
  text-decoration: line-through;
  text-transform: uppercase;
  color: #a9a9a9;
}

.products__price-promo {
  position: relative;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  padding: 13px 36px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 21px;
  margin-top: 0px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
 
  background-color: #ee3643;
}

.products__price-promo--empty {
  margin-top: 18px;
}

.products__price-promo::after {
  content: "";

  position: absolute;
  left: 138.5px;
  top: 0px;

  border-left: 22px solid #ee3643;
  border-right: 22px solid transparent;
  border-top: 22px solid transparent;
  border-bottom: 22px solid transparent;
}

.filters {
  display: flex;
  flex-direction: column;
  width: 220px;
}

.sort {
  display: block;
  background-color: #f7f3ec;
  margin-bottom: 20px;

}

.filters__title {
  display: block;
  display: inline-block;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  padding-left: 20px;
  background-color: #f7f3ec;
  padding-top: 12px;
  padding-bottom: 14px;
  margin: 0px;
}

.sort__title {
  display: inline-block;
  position: relative;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  padding-left: 20px;
  padding-top: 12px;
  padding-bottom: 14px;
  margin: 0px;
}

.sort__title::after {
  content: "";

  position: absolute;
  left: 630px;
  top: 5px;

  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 11px solid transparent;
  border-bottom: 11px solid #ee3643;
}

.sort__link {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  opacity: 0.3;
  color: #000000;
  border-bottom: 1px dotted #ee3643;
}

.sort__link:hover,
.sort__link:focus {
  opacity: 1;
  color: #000000;
  border-bottom: 1px solid #ee3643;
}

.sort__link:first-child {
  margin-left: 140px;
}

.sort__link:nth-child(2) {
  margin-left: 70px;
}

.sort__link:last-child {
  margin-left: 65px;
}

.services {
  margin-bottom: 82px;
  background-color: #f4f8f9;
}

.about-perforators {
  background-color: #f4f8f9;
}

.services__title,
.about__title,
.contacts-title,
.about-perforators__title {
  font-size: 30px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
}

.services__title {
  margin-top: 65px;
}

.contacts-text {
  margin-right: 120px;
}

.services__list {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.services__item {
  display: block;
  padding-left: 23px;
  padding-top: 18px;
  width: 217px;
  height: 48px;

  font-size: 21px;
  font-weight: 700;
  line-height: 30px;
  color: #ffffff;

  background-color: #32425c;
  border-top: 1px solid #405069;
  border-bottom: 1px solid #293449;
}

.services__item:hover,
.services__item:focus {
  font-size: 21px;
  font-weight: 700;
  line-height: 30px;
  color: #32425c;

  background-color: #ffffff;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
}

.services__definition-description,
.services__text,
.about__text,
.contacts-text,
.about-perforators__text {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}

.shipping-companies-list {
  position: relative;
  list-style: none;
  font-size: 18px;
  line-height: 20px;
}

.shipping-companies-item {
  margin-bottom: 18px;
}

.shipping-companies-item:first-child::before {
  content: "";

  position: absolute;
  left: 0px;
  top: 8px;

  border-left: 14px solid #ee3643;
  border-right: 14px solid #ee3643;
  border-top: 1px solid #ee3643;
  border-bottom: 1px solid #ee3643;
}

.shipping-companies-item:nth-child(2)::before {
  content: "";

  position: absolute;
  left: 0px;
  top: 47px;

  border-left: 14px solid #ee3643;
  border-right: 14px solid #ee3643;
  border-top: 1px solid #ee3643;
  border-bottom: 1px solid #ee3643;
}

.shipping-companies-item:last-child::before {
  content: "";

  position: absolute;
  left: 0px;
  top: 85px;

  border-left: 14px solid #ee3643;
  border-right: 14px solid #ee3643;
  border-top: 1px solid #ee3643;
  border-bottom: 1px solid #ee3643;
}


.services__text {
  width: 400px;
  margin-bottom: 70px;
}

.services__definition-list {
  margin-left: 80px;
}

.services__definition-card {
  width: 278px;
}

.services__definition-card:nth-child(2),
.services__definition-card:last-child {
  display: none;
}

.services__definition-name {
  position: relative;
  font-size: 36px;
  line-height: 36px;
  margin-bottom: 30px;
  color: #32425c;
  text-transform: uppercase;
}

.services__definition-name:first-child::after {
  content: "";

  position: absolute;
  left: 152px;
  top: 20px;

  width: 468px;
  height: 261px;

  background-image: url("../img/shipping-auto.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.services__definition-description {
  margin: 0px;
  padding: 0px;
}

.pagination__link {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  border: 1px solid #e5e5e5;
  background-color: transparent;
  border-radius: 2px;
  padding-left: 17px;
  padding-right: 16px;
  padding-top: 13px;
  padding-bottom: 15px;
  margin-right: 10px;
}

.pagination__link:last-child {
  padding-left: 32px;
  padding-right: 32px;
}

.button {
  display: inline-block;
  padding: 12px 0px;
  border-radius: 2px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  background-color: #ee3643;
  color: #ffffff;
  border: none;
}

.button--search {
}

.button--open-catalog {
  margin-left: 25px;
  margin-top: 125px;
  padding-left: 49px;
  padding-right: 45px;
}

.button--popular {
  padding-left: 70px;
  padding-right: 70px;
}

.button--company-about {
  margin-top: 3px;
  padding-left: 40px;
  padding-right: 40px;
}

.button--write-us {
  margin-top: 40px;
  padding-left: 64px;
  padding-right: 60px;
}

.button:hover,
.button:focus {
  background-color: #ca2c37;
}

.button:active {
  background-color: #ba2732;
}

.button--promo {
  width: 135px;
  margin-left: 25px;
  margin-top: 18px;
  text-align: center;
  padding: 7px 0px;
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0.1);
}

.button--promo:hover,
.button--promo:focus {
  background-color: rgba(0, 0, 0, 0.2);
}

.button--promo:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.footer {
  display: flex;
  flex-direction: column;
}

.footer-block1 {
  background-color: #32425c;
}

.footer-logo {
  margin: 0;
  padding: 0px;
}

.footer-logo__link {
  display: block;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
  padding-bottom: 12px;
  background-color: #ee3643;
  box-shadow: 0px 5px 0px #b52933;

}

.footer-site-navigation {
  display: flex;
  flex-wrap: wrap;
}

.footer-site-navigation__list {
  display: flex;
  font-size: 18px;
  line-height: 24px;
  list-style: none;
  margin: 0px;
  margin-top: 30px;
  padding: 0px;
}

.footer-site-navigation__list {
  justify-content: space-between;
}

.footer-site-navigation__link {
  color: #ffffff;
  margin-left: 60px;
}

.container--footer-inner .footer-site-navigation__link {
  color: #ffda96;
}

.footer-site-navigation__link:hover,
.footer-site-navigation__link:focus {
  border-bottom: 1 px solid;
}

.footer-site-navigation__link:active {
  opacity: 0.5;
}

.footer-block2 {
  background-color: #293449;
}

.footer-block2__contacts {
  display: flex;
  flex-wrap: wrap;
  order: -1;
  font-size: 18px;
  line-height: 24px;
  margin-top: 35px;
  color: #f3f7f9;
}

.footer-block2__copirights {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.footer-block2__social-links {
  padding-left: 160px;
}

.footer-block2__mailto,
.footer-block2__dev-info {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

..footer-block2__mailto {
  margin-left: 118px;
  padding: 0px;
}

..footer-block2__dev-info {
  margin-left: 50px;
  padding: 0px;
}

.footer-block2__link {
  font-size: 16px;
  line-height: 18px;
  color: #ffd180;
}

.footer-block2__link:hover,
.footer-block2__link:focus {
  text-decoration-line: underline;
}

.footer-block2__link:active {
  text-decoration-line: none;
  color: #ee3643;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  height: 1px;
  width: 1px;
  margin: -1px;
  padding:0;
  border:0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);

  overflow: hidden;
}

.modal {
  display: none;
}
