body {
  margin: 0;
  padding: 0;

  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.header {
  background-color: #f3f7f8;
}

.header-top-block {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;

  background-color: #293449;
}

.main-title {
  font-size: 14px;
  line-height: 23px;
  font-style: italic;
  color: #ee3643;
}

.telephone__text {
  font-size: 21px;
  color: #ee4a56;

  border: 3px solid #ffffff;
}

.address__text {
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.user-navigation__list,
.header-site-navigation__list {
  list-style: none;
}

.user-navigation__signin,
.user-navigation__signup {
  font-size: 21px;
  line-height: 21px;
  color: #000000;

  background-color: #ffffff;
}

.header-site-navigation {
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;

  background-color: #32425c;
  border-bottom: 5px solid #293449;
}

.checkout {
  background-color: #63a63e;
}

.search-form a,
.wishlist a,
.cart a,
.checkout a,
.user-navigation__list a,
.header-site-navigation__list a{
  color: #ffffff;
}

.search-form a:hover,
.wishlist a:hover,
.cart a:hover,
.search-form a:focus,
.wishlist a:focus,
.cart a:focus {
  background-color: #212a3a;
}

.search-form a:active,
.wishlist a:active,
.cart a:active {
  /*Тут нужно сделать текст прозрачным, 0,6, цвет текста #ffffff*/

  background-color: #161d29;
}

.checkout a:hover {
  background-color: #5fbb2d;
}

.checkout a:active {
  background-color: #518534;
}

.promo__card {

}

.promo__card--materials {
  background-color: #ffbf47;
}

.promo__card--equipment {
  background-color: #3bbce3;
}

.promo__card--tools {
  background-color: #dc91d8;
}

.promo__card--special {
  background-color: #8ed78f;
}

.promo__card--sheeping {
  background-color: #ffc047;
}

.promo__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  color: #ffffff;
}

.promo__slider-list {
  list-style: none;
}

.promo__slider-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffffff;
}

.promo__slider-slogan {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.popular {
  background-color: #f9f5f0;
}

.popular__title {
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: #32425c;
}

.products__list {
  list-style: none;
}

.products__item {
  border: 1px solid #eaeaea;
}

.products__name,
.products__model {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #000000;
}

.products__price {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  text-align: center;
  text-decoration: line-through;
  text-transform: uppercase;
  color: #a9a9a9;
}

.products__price--promo {
  text-transform: uppercase;
  color: #ffffff;
}

.services {
  background-color: #f4f8f9;
}

.services__title,
.about__title,
.contacts-title {
  font-size: 30px;
  font-weight: 400;
  color: #000000;
}

.services__item-name {
  font-size: 21px;
  font-weight: 700;
  line-height: 30px;
  color: #ffffff;

  background-color: #32425c;
}

.services__item-name:hover,
.services__item-name:focus {
  font-size: 21px;
  font-weight: 700;
  line-height: 30px;
  color: #32425c;

  background-color: #ffffff;
}

.services__item-description,
.services__text,
.about__text {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}

.shipping-companies-list {
}


.button {
  font-size: 14px;
  text-transform: uppercase;
  background-color: #ee3643;
  color: #ffffff;
}

.button--secondary {
  background-color: #000000;
  /*Тут нужно сделать прозрачной только кнопку, 0,1, а текст оставить непрозрачным*/
}

.footer-block1 {
  background-color: #32425c;
}

.footer-site-navigation__list {
  font-size: 18px;
  line-height: 24px;
  color: #f1f5f7;

  list-style: none;
}
.footer-site-navigation__item a {
  color: #ffffff;
}
.footer-site-navigation__item--secondary a {
  color: #ffda96;
}

.footer-block2 {
  background-color: #293449;
}

.footer-block2__contacts {
  font-size: 18px;
  line-height: 24px;
  color: #f3f7f9;
}

.footer-block2__copirights {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.footer-block2__mailto,
.footer-block2__dev-info {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.footer-block2__link {
  font-size: 16px;
  line-height: 18px;
  color: #ffd180;
}

.visually-hidden {

}

.modal {
  display: none;
}
